.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: darkcyan;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    margin-top: 5px;
}

.horizontal-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.horizontal-group input[type="checkbox"],
.horizontal-group input[type="radio"] {
    margin-top: 0;
}

button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightcoral;
}

#image-preview {
    margin-top: 10px;
}

button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightcoral;
}
.horizontal-group {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
}

.horizontal-group input[type="checkbox"],
.horizontal-group input[type="radio"] {
    margin-top: 0;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #009879;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: inherit;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: white;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9900;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 10px 0;
    }
}
